*, ::before, ::after {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.element {
    width: 250px;
    height: 75px;
    background: crimson;
    margin: 5px;
    position: relative;
}
.el1 {
    background: crimson;
    z-index: 10;
}
.el2 {
    background: lightblue;
    top: -50px;
    left: 50px;
    z-index: 5;

}
.el3 {
    background: green;
    top:-100px;
    left: 100px;
    z-index: auto;

}